/* line 5, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/grid.scss */
.row {
  width: 100%;
}

/* line 7, ../sass/grid.scss */
.row:before, .row:after {
  content: "";
  display: table;
}

/* line 11, ../sass/grid.scss */
.row:after {
  clear: both;
}

/* line 14, ../sass/grid.scss */
.row [class^="col"] {
  width: 100%;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/grid.scss */
.row [class^="col"]:first-child {
  margin-left: 0;
}

/* line 25, ../sass/grid.scss */
.row .col1 {
  width: 4.16666%;
}

/* line 28, ../sass/grid.scss */
.row .col2 {
  width: 8.33333%;
}

/* line 31, ../sass/grid.scss */
.row .col3 {
  width: 12.5%;
}

/* line 34, ../sass/grid.scss */
.row .col4 {
  width: 16.66666%;
}

/* line 37, ../sass/grid.scss */
.row .col5 {
  width: 20.83333%;
}

/* line 40, ../sass/grid.scss */
.row .col6 {
  width: 25%;
}

/* line 43, ../sass/grid.scss */
.row .col7 {
  width: 29.16666%;
}

/* line 46, ../sass/grid.scss */
.row .col8 {
  width: 33.33333%;
}

/* line 49, ../sass/grid.scss */
.row .col9 {
  width: 37.5%;
}

/* line 52, ../sass/grid.scss */
.row .col10 {
  width: 41.66666%;
}

/* line 55, ../sass/grid.scss */
.row .col11 {
  width: 45.83333%;
}

/* line 58, ../sass/grid.scss */
.row .col12 {
  width: 50%;
}

/* line 61, ../sass/grid.scss */
.row .col13 {
  width: 54.16666%;
}

/* line 64, ../sass/grid.scss */
.row .col14 {
  width: 58.33333%;
}

/* line 66, ../sass/grid.scss */
.row .col15 {
  width: 62.5%;
}

/* line 69, ../sass/grid.scss */
.row .col16 {
  width: 66.66666%;
}

/* line 71, ../sass/grid.scss */
.row .col17 {
  width: 70.83333%;
}

/* line 74, ../sass/grid.scss */
.row .col18 {
  width: 75%;
}

/* line 77, ../sass/grid.scss */
.row .col19 {
  width: 79.16666%;
}

/* line 80, ../sass/grid.scss */
.row .col20 {
  width: 83.33333%;
}

/* line 83, ../sass/grid.scss */
.row .col21 {
  width: 87.5%;
}

/* line 86, ../sass/grid.scss */
.row .col22 {
  width: 91.66666%;
}

/* line 89, ../sass/grid.scss */
.row .col23 {
  width: 95.83333%;
}

/* line 92, ../sass/grid.scss */
.row .col24 {
  width: 100%;
}

/* line 95, ../sass/grid.scss */
.row .col0 {
  display: none;
}

@media (max-width: 767px) {
  /* line 100, ../sass/grid.scss */
  .row [class^="col-movile"] {
    width: 50%;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 108, ../sass/grid.scss */
  .row [class^="col-movile"]:first-child {
    margin-left: 0;
  }

  /* line 111, ../sass/grid.scss */
  .row .col1-movile {
    width: 4.16666%;
  }

  /* line 114, ../sass/grid.scss */
  .row .col2-movile {
    width: 8.33333%;
  }

  /* line 117, ../sass/grid.scss */
  .row .col3-movile {
    width: 12.5%;
  }

  /* line 120, ../sass/grid.scss */
  .row .col4-movile {
    width: 16.66666%;
  }

  /* line 123, ../sass/grid.scss */
  .row .col5-movile {
    width: 20.83333%;
  }

  /* line 126, ../sass/grid.scss */
  .row .col6-movile {
    width: 25%;
  }

  /* line 129, ../sass/grid.scss */
  .row .col7-movile {
    width: 29.16666%;
  }

  /* line 132, ../sass/grid.scss */
  .row .col8-movile {
    width: 33.33333%;
  }

  /* line 135, ../sass/grid.scss */
  .row .col9-movile {
    width: 37.5%;
  }

  /* line 138, ../sass/grid.scss */
  .row .col10-movile {
    width: 41.66666%;
  }

  /* line 141, ../sass/grid.scss */
  .row .col11-movile {
    width: 45.83333%;
  }

  /* line 144, ../sass/grid.scss */
  .row .col12-movile {
    width: 50%;
  }

  /* line 147, ../sass/grid.scss */
  .row .col13-movile {
    width: 54.16666%;
  }

  /* line 150, ../sass/grid.scss */
  .row .col14-movile {
    width: 58.33333%;
  }

  /* line 153, ../sass/grid.scss */
  .row .col15-movile {
    width: 62.5%;
  }

  /* line 156, ../sass/grid.scss */
  .row .col16-movile {
    width: 66.66666%;
  }

  /* line 159, ../sass/grid.scss */
  .row .col17-movile {
    width: 70.83333%;
  }

  /* line 162, ../sass/grid.scss */
  .row .col18-movile {
    width: 75%;
  }

  /* line 165, ../sass/grid.scss */
  .row .col19-movile {
    width: 79.16666%;
  }

  /* line 168, ../sass/grid.scss */
  .row .col20-movile {
    width: 83.33333%;
  }

  /* line 171, ../sass/grid.scss */
  .row .col21-movile {
    width: 87.5%;
  }

  /* line 174, ../sass/grid.scss */
  .row .col22-movile {
    width: 91.66666%;
  }

  /* line 177, ../sass/grid.scss */
  .row .col23-movile {
    width: 95.83333%;
  }

  /* line 180, ../sass/grid.scss */
  .row .col24-movile {
    width: 100%;
  }

  /* line 183, ../sass/grid.scss */
  .row .col0-movile {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 189, ../sass/grid.scss */
  .row [class^="col-tablet"] {
    width: 50%;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 197, ../sass/grid.scss */
  .row [class^="col-tablet"]:first-child {
    margin-left: 0;
  }

  /* line 200, ../sass/grid.scss */
  .row .col1-tablet {
    width: 4.16666%;
  }

  /* line 203, ../sass/grid.scss */
  .row .col2-tablet {
    width: 8.33333%;
  }

  /* line 206, ../sass/grid.scss */
  .row .col3-tablet {
    width: 12.5%;
  }

  /* line 209, ../sass/grid.scss */
  .row .col4-tablet {
    width: 16.66666%;
  }

  /* line 212, ../sass/grid.scss */
  .row .col5-tablet {
    width: 20.83333%;
  }

  /* line 215, ../sass/grid.scss */
  .row .col6-tablet {
    width: 25%;
  }

  /* line 218, ../sass/grid.scss */
  .row .col7-tablet {
    width: 29.16666%;
  }

  /* line 221, ../sass/grid.scss */
  .row .col8-tablet {
    width: 33.33333%;
  }

  /* line 224, ../sass/grid.scss */
  .row .col9-tablet {
    width: 37.5%;
  }

  /* line 227, ../sass/grid.scss */
  .row .col10-tablet {
    width: 41.66666%;
  }

  /* line 230, ../sass/grid.scss */
  .row .col11-tablet {
    width: 45.83333%;
  }

  /* line 233, ../sass/grid.scss */
  .row .col12-tablet {
    width: 50%;
  }

  /* line 236, ../sass/grid.scss */
  .row .col13-tablet {
    width: 54.16666%;
  }

  /* line 239, ../sass/grid.scss */
  .row .col14-tablet {
    width: 58.33333%;
  }

  /* line 242, ../sass/grid.scss */
  .row .col15-tablet {
    width: 62.5%;
  }

  /* line 245, ../sass/grid.scss */
  .row .col16-tablet {
    width: 66.66666%;
  }

  /* line 248, ../sass/grid.scss */
  .row .col17-tablet {
    width: 70.83333%;
  }

  /* line 251, ../sass/grid.scss */
  .row .col18-tablet {
    width: 75%;
  }

  /* line 254, ../sass/grid.scss */
  .row .col19-tablet {
    width: 79.16666%;
  }

  /* line 257, ../sass/grid.scss */
  .row .col20-tablet {
    width: 83.33333%;
  }

  /* line 260, ../sass/grid.scss */
  .row .col21-tablet {
    width: 87.5%;
  }

  /* line 263, ../sass/grid.scss */
  .row .col22-tablet {
    width: 91.66666%;
  }

  /* line 266, ../sass/grid.scss */
  .row .col23-tablet {
    width: 95.83333%;
  }

  /* line 269, ../sass/grid.scss */
  .row .col24-tablet {
    width: 100%;
  }

  /* line 272, ../sass/grid.scss */
  .row .col0-tablet {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  /* line 278, ../sass/grid.scss */
  .row [class^="col-desktop"] {
    width: 50%;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 286, ../sass/grid.scss */
  .row [class^="col-desktop"]:first-child {
    margin-left: 0;
  }

  /* line 289, ../sass/grid.scss */
  .row .col1-desktop {
    width: 4.16666%;
  }

  /* line 292, ../sass/grid.scss */
  .row .col2-desktop {
    width: 8.33333%;
  }

  /* line 295, ../sass/grid.scss */
  .row .col3-desktop {
    width: 12.5%;
  }

  /* line 298, ../sass/grid.scss */
  .row .col4-desktop {
    width: 16.66666%;
  }

  /* line 301, ../sass/grid.scss */
  .row .col5-desktop {
    width: 20.83333%;
  }

  /* line 304, ../sass/grid.scss */
  .row .col6-desktop {
    width: 25%;
  }

  /* line 307, ../sass/grid.scss */
  .row .col7-desktop {
    width: 29.16666%;
  }

  /* line 310, ../sass/grid.scss */
  .row .col8-desktop {
    width: 33.33333%;
  }

  /* line 313, ../sass/grid.scss */
  .row .col9-desktop {
    width: 37.5%;
  }

  /* line 316, ../sass/grid.scss */
  .row .col10-desktop {
    width: 41.66666%;
  }

  /* line 319, ../sass/grid.scss */
  .row .col11-desktop {
    width: 45.83333%;
  }

  /* line 322, ../sass/grid.scss */
  .row .col12-desktop {
    width: 50%;
  }

  /* line 325, ../sass/grid.scss */
  .row .col13-desktop {
    width: 54.16666%;
  }

  /* line 328, ../sass/grid.scss */
  .row .col14-desktop {
    width: 58.33333%;
  }

  /* line 331, ../sass/grid.scss */
  .row .col15-desktop {
    width: 62.5%;
  }

  /* line 334, ../sass/grid.scss */
  .row .col16-desktop {
    width: 66.66666%;
  }

  /* line 337, ../sass/grid.scss */
  .row .col17-desktop {
    width: 70.83333%;
  }

  /* line 340, ../sass/grid.scss */
  .row .col18-desktop {
    width: 75%;
  }

  /* line 343, ../sass/grid.scss */
  .row .col19-desktop {
    width: 79.16666%;
  }

  /* line 346, ../sass/grid.scss */
  .row .col20-desktop {
    width: 83.33333%;
  }

  /* line 349, ../sass/grid.scss */
  .row .col21-desktop {
    width: 87.5%;
  }

  /* line 352, ../sass/grid.scss */
  .row .col22-desktop {
    width: 91.66666%;
  }

  /* line 355, ../sass/grid.scss */
  .row .col23-desktop {
    width: 95.83333%;
  }

  /* line 358, ../sass/grid.scss */
  .row .col24-desktop {
    width: 100%;
  }

  /* line 361, ../sass/grid.scss */
  .row .col0-desktop {
    display: none;
  }
}
/* line 5, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 13, ../sass/base.scss */
h3 {
  color: #E84C3D;
  font-size: 18px;
}

/* line 17, ../sass/base.scss */
h1 {
  color: #FC3131;
  font-size: 18px;
}

/* line 22, ../sass/base.scss */
.-center-text {
  text-align: center;
}

/* line 26, ../sass/base.scss */
.-body {
  padding-bottom: 10px !important;
  padding-top: 40px !important;
  width: 100%;
  height: 100%;
}

/* line 33, ../sass/base.scss */
.-scroll {
  padding-right: 6px !important;
  overflow-y: scroll;
}

/* line 38, ../sass/base.scss */
.-expand {
  width: 100%;
  height: 100%;
}

/* line 43, ../sass/base.scss */
.-expand-h {
  height: 100%;
}

/* line 47, ../sass/base.scss */
.-expand-w {
  width: 100%;
}

/* line 52, ../sass/base.scss */
.-border {
  border-radius: 3px;
}

/* line 56, ../sass/base.scss */
.-fixed {
  position: fixed;
}

/* line 60, ../sass/base.scss */
.-left {
  float: left;
}

/* line 63, ../sass/base.scss */
.-right {
  float: right;
}

/* line 67, ../sass/base.scss */
.-card-top {
  height: 30%;
}

/* line 70, ../sass/base.scss */
.-card-bottom {
  bottom: 0;
}

/* line 74, ../sass/base.scss */
.base-container {
  padding: 8px;
  box-sizing: border-box;
  background-color: #595959;
}

/* line 80, ../sass/base.scss */
.base-card {
  padding: 16px;
  display: block;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #3D3D3D;
}

/* line 88, ../sass/base.scss */
.base-menu {
  width: 100%;
  display: block;
  min-height: 38px;
  box-sizing: border-box;
  background-color: #313131;
}
/* line 94, ../sass/base.scss */
.base-menu .base-option {
  padding: 10px;
  background-color: #3D3D3D;
  border-bottom: 2px solid #E84C3D;
  border-right: 2px solid #313131;
}

/* line 103, ../sass/base.scss */
.list .item {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* line 110, ../sass/base.scss */
.-side {
  padding: 6px;
  box-sizing: border-box;
}
/* line 113, ../sass/base.scss */
.-side.-priority {
  display: block;
  width: 320px;
}
/* line 117, ../sass/base.scss */
.-side.-no-priority {
  display: block;
}
/* line 119, ../sass/base.scss */
.-side.-no-priority.-top {
  height: 30%;
}
/* line 122, ../sass/base.scss */
.-side.-no-priority.-bottom {
  height: 70%;
}
/* line 125, ../sass/base.scss */
.-side.-no-priority.-rigth {
  margin-left: 320px;
}
/* line 128, ../sass/base.scss */
.-side.-no-priority.-left {
  float: none;
  margin-right: 320px;
}

/* line 135, ../sass/base.scss */
.base-hide-slide {
  margin-top: 51px;
  position: fixed;
}
/* line 139, ../sass/base.scss */
.base-hide-slide.-right {
  right: 0;
}
/* line 144, ../sass/base.scss */
.base-hide-slide .trunk .hide {
  display: none;
  width: 0;
}
/* line 148, ../sass/base.scss */
.base-hide-slide .trunk .triger {
  display: inline-block;
}
/* line 152, ../sass/base.scss */
.base-hide-slide .trunk:hover .hide {
  display: inline-block;
  width: auto;
}
/* line 156, ../sass/base.scss */
.base-hide-slide .trunk:hover .triger {
  display: none;
}
